<div id="<%= dom_id documento %>">
  

  <p>
    <strong>Numerocontrol:</strong>
    <%= documento.numero_de_control %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= documento.nombre %>
  </p>
  <p>
    <strong>Nombre del archivo:</strong>
    <% @documento.uploads.each do |upload| %>
  <p><%= upload.blob.filename %></p>
  <p><%= link_to 'Descargar', rails_blob_path(upload.blob, disposition: 'attachment') %></p>
<% end %>
<p>
    <strong>Estatus:</strong>
    <%= documento.status %>
  </p>

</div>
